openapi: 3.0.3
info:
  title: Meridian Health - Patient API
  description: |
    API for managing patient demographics, search, and related operations.

    ## Authentication
    All endpoints require a valid JWT Bearer token. Tokens are issued by the auth-service.

    ## HIPAA Compliance
    All requests are logged to the audit service. Access to patient data requires appropriate
    role-based permissions. PHI must never be logged in request/response payloads.

    ## Rate Limits
    - Standard: 100 requests/minute per API key
    - Bulk operations: 10 requests/minute per API key
  version: 2.4.0
  contact:
    name: Platform Team
    email: platform@meridianhealth.io
  license:
    name: Proprietary
    url: https://meridianhealth.io/terms

servers:
  - url: https://api.meridianhealth.io/v2
    description: Production
  - url: https://api.staging.meridianhealth.io/v2
    description: Staging
  - url: http://localhost:3001/v2
    description: Local development

tags:
  - name: Patients
    description: Patient demographic management
  - name: Search
    description: Patient search operations
  - name: Insurance
    description: Patient insurance management
  - name: Care Team
    description: Patient care team assignments

paths:
  /patients:
    get:
      tags: [Patients]
      summary: List patients
      description: Returns a paginated list of patients. Results are filtered by the requesting user's permissions.
      operationId: listPatients
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, all]
            default: active
        - name: provider_npi
          in: query
          description: Filter by primary care provider NPI
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum: [last_name, created_at, mrn]
            default: last_name
      responses:
        '200':
          description: Paginated list of patients
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PatientSummary'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags: [Patients]
      summary: Create a new patient
      description: |
        Creates a new patient record and generates an MRN. Duplicate detection
        is performed automatically - if a potential duplicate is found, a 409
        response is returned with the potential matches.
      operationId: createPatient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePatientRequest'
      responses:
        '201':
          description: Patient created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Potential duplicate detected
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: potential_duplicate
                  message:
                    type: string
                    example: Potential duplicate patient records found
                  potential_matches:
                    type: array
                    items:
                      $ref: '#/components/schemas/PatientSummary'

  /patients/{id}:
    get:
      tags: [Patients]
      summary: Get patient by ID
      operationId: getPatient
      parameters:
        - $ref: '#/components/parameters/PatientId'
      responses:
        '200':
          description: Patient details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Patients]
      summary: Update patient
      operationId: updatePatient
      parameters:
        - $ref: '#/components/parameters/PatientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePatientRequest'
      responses:
        '200':
          description: Patient updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'

  /patients/search:
    post:
      tags: [Search]
      summary: Search patients
      description: |
        Advanced patient search with multiple criteria. Supports fuzzy name matching
        and phonetic search (Soundex/Metaphone) for finding patients with misspelled names.
      operationId: searchPatients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                date_of_birth:
                  type: string
                  format: date
                mrn:
                  type: string
                ssn_last_four:
                  type: string
                phone:
                  type: string
                email:
                  type: string
                member_id:
                  type: string
                  description: Insurance member ID
                fuzzy:
                  type: boolean
                  default: false
                  description: Enable fuzzy/phonetic matching on names
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PatientSummary'
                  total:
                    type: integer

  /patients/{id}/insurance:
    # TODO: Implement insurance management endpoints
    get:
      tags: [Insurance]
      summary: Get patient insurance information
      description: "TODO: This endpoint is planned but not yet implemented."
      operationId: getPatientInsurance
      parameters:
        - $ref: '#/components/parameters/PatientId'
      responses:
        '501':
          description: Not yet implemented

  /patients/{id}/care-team:
    # TODO: Implement care team endpoints
    get:
      tags: [Care Team]
      summary: Get patient care team
      description: "TODO: This endpoint is planned but not yet implemented."
      operationId: getPatientCareTeam
      parameters:
        - $ref: '#/components/parameters/PatientId'
      responses:
        '501':
          description: Not yet implemented

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PatientId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Patient ID

  schemas:
    Patient:
      type: object
      properties:
        id:
          type: string
          example: pat-001-a7f3b2c1
        mrn:
          type: string
          example: MHT-100001
        first_name:
          type: string
          example: Eleanor
        last_name:
          type: string
          example: Vasquez
        date_of_birth:
          type: string
          format: date
          example: "1958-03-14"
        gender:
          type: string
          enum: [male, female, other, unknown]
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        emergency_contact:
          type: object
          properties:
            name:
              type: string
            relationship:
              type: string
            phone:
              type: string
        insurance:
          type: object
          properties:
            primary:
              $ref: '#/components/schemas/InsurancePlan'
            secondary:
              $ref: '#/components/schemas/InsurancePlan'
        primary_provider_npi:
          type: string
        preferred_language:
          type: string
        status:
          type: string
          enum: [active, inactive, deceased, merged]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PatientSummary:
      type: object
      properties:
        id:
          type: string
        mrn:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        date_of_birth:
          type: string
          format: date
        gender:
          type: string
        phone:
          type: string
        status:
          type: string

    CreatePatientRequest:
      type: object
      required: [first_name, last_name, date_of_birth, gender]
      properties:
        first_name:
          type: string
          minLength: 1
          maxLength: 100
        last_name:
          type: string
          minLength: 1
          maxLength: 100
        date_of_birth:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        ssn_last_four:
          type: string
          pattern: '^\d{4}$'
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        force_create:
          type: boolean
          default: false
          description: Skip duplicate detection (requires admin role)

    UpdatePatientRequest:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        preferred_language:
          type: string
        status:
          type: string
          enum: [active, inactive]

    Address:
      type: object
      properties:
        street1:
          type: string
        street2:
          type: string
        city:
          type: string
        state:
          type: string
          pattern: '^[A-Z]{2}$'
        zip:
          type: string
          pattern: '^\d{5}(-\d{4})?$'

    InsurancePlan:
      type: object
      properties:
        payer_id:
          type: string
        payer_name:
          type: string
        plan_name:
          type: string
        member_id:
          type: string
        group_number:
          type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

  responses:
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthorized
            message: Invalid or expired authentication token

    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: forbidden
            message: You do not have permission to access this resource

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: Patient not found

    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: validation_error
            message: Request validation failed
            details:
              - field: date_of_birth
                message: Must be a valid date in the past

security:
  - bearerAuth: []
